* {
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
    overflow: hidden
}

nav {
    position: fixed;
    background-color: #324650;
    height: 100vh;
    width: 50px;
}

