* {
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;

}

.navbar {
    position: fixed;
    background-color: #324650;
    height: 100vh;
    width: 50px;
    z-index: 2;
}

.draw-settings {
    position: absolute;
    background-color: #253741;
    height: 100vh;
    width: 200px;
    left:-300px;
    z-index: 0;
    transition: left 0.5s ease-out;
    
    
}

.draw-settings ul li {
    display: flex;
    justify-content: center;
    color: rgb(230, 228, 228);
}

.minicolor-input {
    border-width: 0px;
}
.minicolors-panel.minicolors-slider-hue.minicolors-with-swatches {
    background-color: #253741;
    border: solid 1px #253741;

}

.minicolors-swatches {
    height:20px;
}

.minicolors-swatch.minicolors-sprite {
    border: none;
    height:20px;
    width:20px;
}

.item-color{
    flex:1;
    margin-top: 2px;
}

.paramdrw {
    width:80px;
}

.directDcolor{
    
    width: 195px;
    height: 20px;
}

input[type=text], input[type=number] {
    background-color: #4e7486;
    border: none;
    color: white;
  }

  input[type=text]:focus , input[type=number]:focus {
    background-color: #3a5663;
  }



#show-draw-settings {

  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  left: 0px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 4; 
  
  -webkit-touch-callout: none;
}

#brushlogo {
    background-color:  #324650;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity : 0.8;
    top: 50px;
    left: 0px;
    z-index : 3;
    transition: all 0.2s ease-out;
}

#menuToggle input:checked ~ .draw-settings {
    left: 50px;
  }

  #menuToggle input:checked ~ #brushlogo {
    background-color : #3d5663;
    opacity: 1;
  }
